* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.header {
  width: 100%;
  height: 60px;
  margin-bottom: 50px;
  background: rgba(8, 4, 255, 0.722);
  text-align: right;
}

.button__add-card {
  font-size: 18px;
  margin: 10px 40px 0 0;
  padding: 10px 40px;
  background: rgb(255, 0, 0);
  border: none;
  border-radius: 5px;
  color: #fff;
  outline: none;
  cursor: pointer;
}

.button__add-info {
  font-size: 16px;
  margin: 10px 40px 0 0;
  padding: 10px 40px;
  background: rgb(17, 0, 255);
  border: none;
  border-radius: 5px;
  color: #fff;
  outline: none;
  cursor: pointer;
}

.button__card-edit {
  font-size: 14px;
  margin-right: 50px;
  padding: 3px 3px;
  background: rgba(17, 0, 255, 0.714);
  border: none;
  border-radius: 5px;
  color: #fff;
  outline: none;
  cursor: pointer;
}

/* Modale */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: translate(0, 0);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.modal__background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  z-index: 1;
}

.modal__main-container {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 600px;
}

/* Modale */

.container {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.form {
  background: rgb(122, 122, 122);
  margin: 0 auto;
  width: 600px;
  height: auto;
  border: 1px solid rgb(122, 122, 122);
  border-radius: 5px;
  box-shadow: 0 0 5px 5px rgb(122, 122, 122);
}

label {
  color: #fff;
}

.input__title {
  width: 100%;
  height: 30px;
  margin: 5px 0 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.input__title:focus {
  box-shadow: 0 0 0 0.2rem rgba(116, 243, 107, 0.644);
}

.textarea__description {
  margin-top: 5px;
  width: 100%;
  resize: none;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.textarea__description:focus {
  box-shadow: 0 0 0 0.2rem rgba(116, 243, 107, 0.644);
}

.div__card {
  position: relative;
  margin-bottom: 15px;
  padding: 10px;
  width: 500px;
  border: 1px solid rgb(99, 97, 97);
  border-radius: 10px;
}

.div__card:hover {
  transition: 0.3s linear;
  box-shadow: 4px 4px 4px rgb(126, 128, 128);
}

.div__card-wrapper {
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div__card-name-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div__card-full-name {
  margin: 0;
  padding-right: 10px;
  font-size: 18px;
  line-height: 2;
  font-weight: bold;
  color: rgb(49, 49, 49);
}

.div__card-user-name {
  font-size: 16px;
  line-height: 1;
  color: rgb(111, 111, 111);
  text-decoration: none;
}

.div__card-btn-del {
}

.div__card-btn-del {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 24px;
  height: 24px;
  opacity: 0.2;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  transition: opacity ease 0.5s;
}
.div__card-btn-del:hover {
  opacity: 1;
}

.div__card-btn-del::before,
.div__card-btn-del::after {
  content: "";
  position: absolute;
  top: 10px;
  display: block;
  border-radius: 2px;
  width: 24px;
  height: 3px;
  background: rgb(251, 61, 61);
}

.div__card-btn-del::before {
  transform: rotate(45deg);
}

.div__card-btn-del::after {
  transform: rotate(-45deg);
}

.div__card-title {
  margin: 0;
  padding-left: 10px;
  font-size: 20px;
  line-height: 1;
}

.div__card-description {
  font-size: 16px;
  color: rgb(116, 116, 116);
}

.circle-container {
  position: relative;
  top: 100px;
  margin: 0 auto;
  height: 15px;
  width: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.circle-container .circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #000;
  -webkit-animation: move 500ms linear 0ms infinite;
  animation: move 500ms linear 0ms infinite;
  margin-right: 30px;
}
.circle-container .circle:first-child {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: grow 500ms linear 0ms infinite;
  animation: grow 500ms linear 0ms infinite;
}
.circle-container .circle:last-child {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 0;
  animation: grow 500ms linear 0s infinite reverse;
}

@-webkit-keyframes grow {
  from {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes grow {
  from {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
}
@-webkit-keyframes move {
  from {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(45px);
    transform: translateX(45px);
  }
}
@keyframes move {
  from {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(45px);
    transform: translateX(45px);
  }
}
