.wrapper {
  margin: 50px auto;
  text-align: center;
}

.btn {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  background: rgb(0, 246, 115);
  color: rgb(92, 92, 92);
  cursor: pointer;
}

.container {
  width: 300px;
  margin: 0 auto;
}

.list {
  padding: 10px;
  list-style: none;
  border: 1px solid #000;
  border-radius: 5px;
}

.item {
  font-size: 18px;
  margin-bottom: 10px;
  padding: 0;
  border-bottom: 1px solid #000;
}

.item:last-child {
  margin-bottom: 0;
}
