.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.container {
  height: 15px;
  width: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.container .circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #000;
  -webkit-animation: move 500ms linear 0ms infinite;
  animation: move 500ms linear 0ms infinite;
  margin-right: 30px;
}
.container .circle:first-child {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: grow 500ms linear 0ms infinite;
  animation: grow 500ms linear 0ms infinite;
}
.container .circle:last-child {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 0;
  animation: grow 500ms linear 0s infinite reverse;
}

@-webkit-keyframes grow {
  from {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes grow {
  from {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
}
@-webkit-keyframes move {
  from {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(45px);
    transform: translateX(45px);
  }
}
@keyframes move {
  from {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(45px);
    transform: translateX(45px);
  }
}

.list {
  margin: 0 0 10px;
  padding: 0;
  list-style: none;
}

.list__item {
  width: 400px;
  border: 1px solid #000;
  border-radius: 10px;
}

.list__episode {
  padding-left: 10px;
  padding-right: 10px;
}

.list__name {
  padding-left: 10px;
  padding-right: 10px;
}

.list__desc {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  font-style: italic;
}

.list__status {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
}
