html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.list {
  padding: 0;
  margin: 0 auto;
  width: 500px;
  list-style: none;

  border: 1px solid rgb(77, 77, 77);
}

.list-items {
  padding: 10px;
  width: 500px;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
